<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>content2</title>
  <meta name="keywords" content="content2" />
  <meta name="description" content="content2" />
</head>
<body>

  <!-- container -->
  <div class="container">

    <div layout:fragment="partial1">
    <!-- partial1 start -->
    <div class="row partial1">
      <div class="col-md-12 well">
        <h3>content2 - partial1</h3>
        <table class="table" th:if="${order}" th:object="${order}">
          <tbody>
            <tr>
              <th class="field-label col-xs-3 active">id</th>
              <td class="col-md-9" th:text="*{id}">id</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">order Number</th>
              <td class="col-md-9" th:text="*{orderNumber}">orderNumber</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">order Date</th>
              <td class="col-md-9" th:text="*{orderDate}">orderDate</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">required Date</th>
              <td class="col-md-9" th:text="*{requiredDate}">requiredDate</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">shipped Date</th>
              <td class="col-md-9" th:text="*{shippedDate}">shippedDate</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">status</th>
              <td class="col-md-9" th:text="*{status}">status</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">comments</th>
              <td class="col-md-9" th:text="*{comments}">comments</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">customer Number</th>
              <td class="col-md-9" th:text="*{customerNumber}">customerNumber</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- partial1 end -->
    </div>

  </div>

</body>
</html>