<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

  <div layout:fragment="partial(value1, value2, value3)">
      <div class="col-md-12 well">
        <h3>content1 - partial3</h3>
        <div>
          <ul>
            <li th:text="${value1}">value</li>
            <li th:text="${value2}">value</li>
            <li th:text="${value3}">value</li>
          </ul>
        </div>
      </div>
  </div>

</body>
</html>