<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">tllo-example</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/vendor/bootstrap-3.3.5/css/bootstrap.min.css" th:href="@{/vendor/bootstrap-3.3.5/css/bootstrap.min.css}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>

  <!-- container start -->
  <div class="container">

    <div class="page-header">
      <h1>MAGI SYSTEM</h1>
    </div>

    <!-- navi start -->
    <div class="row navi">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="/MAGI-MERCHIOR" th:href="@{/MAGI-MERCHIOR}">MAGI-MERCHIOR</a></li>
          <li role="presentation"><a href="/MAGI-BALTHASAR" th:href="@{/MAGI-BALTHASAR}">MAGI-BALTHASAR</a></li>
          <li role="presentation"><a href="/MAGI-CASPER" th:href="@{/MAGI-CASPER}">MAGI-CASPER</a></li>
        </ul>
      </div>
    </div>
    <!-- navi end -->

    <div class="row">
      <div class="col-md-12 well">
        <h3>dummy</h3>
        <p th:text="${gmsg1}"></p>
        <p th:text="${gmsg2}"></p>
        <p th:text="${gmsg3}"></p>
      </div>
    </div>

    <!-- contents -->
    <div layout:fragment="partial1" th:remove="tag"></div>

    <div layout:include="inc1 :: partial(id='message', header='Message')" class="row"></div>

    <div layout:replace="rep1 :: partial('メッセージ１', 'message2', '電文3')"></div>

    <!-- contents -->
    <div layout:fragment="partial2" th:remove="tag"></div>

    <!-- contents -->
    <div layout:fragment="partial3" th:remove="tag"></div>

    <div class="page-footer">
      <h3>footer</h3>
    </div>

  </div>
  <!-- container end -->

  <!-- scripts start -->
  <div layout:fragment="scripts" th:remove="tag"></div>
  <!-- scripts end -->

  <script src="/vendor/jquery/jquery-1.11.3.js" th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
  <script src="/vendor/bootstrap-3.3.5/js/bootstrap.js" th:src="@{/vendor/bootstrap-3.3.5/js/bootstrap.js}"></script>
  
  <form action="/my-handling-form-page" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
  </div>
  <div>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_mail">
  </div>
  <div>
    <label for="msg">Message:</label>
    <textarea id="msg" name="user_message"></textarea>
  </div>
</form>
</body>
</html>